body{
    font-family: Roboto;
}

.main-content {

    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    background-color: #f4f4f4;
    padding: 20px;
  


}

@media (min-width: 990px) {
    .main-content {
    width: 82.5%!important;
    margin-left:280px;
    

    }
}

@media (max-width: 600px) {
    .main-content {
        flex-direction: column;
    

    }
    .card{
        width: 100%;
    }
}

#sidebar{
    position: fixed;
}

.centered-div {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}