body{
    font-family: 'Roboto';
    background-color: #f4f4f4;
}

.main-content {

    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
   
    padding: 20px;


    /* height: 100vh; 
    background-image: url('../img/TUP.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;  */
  


}

@media (min-width: 990px) {
    .main-content {
    width: 82.5%!important;
    margin-left:280px;
    
   

    }
}

@media (max-width: 700px) {
    .main-content {
        flex-direction: column;
    
    

    }

    a,button{
       font-size: 12px!important;

    }
    .fc-toolbar-title{
        font-size: 20px!important;
    }
    .res{
        display: none!important;
    }
    .ap-form {
        min-width: 180px!important;
    }
    .card{
        width: 100%;
    }
    #myTable{
        max-width: 200px;
        padding: 0px!important;
    }
    .pcard{
        min-width: 350px!important;
    }
    .res-title{
        font-size: 20px!important;
     }
}

#sidebar{
    position: fixed;
}

.centered-div {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.dt-input,.dt-paging {
 
    margin-right: 50px;
}

/* .glass{ */
    /* From https://css.glass
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
padding: 20px;
} */

.active{
    background-color: #dc3545!important;
}

th{
    text-align: center!important;
}